@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v10/neIXzD-0qpwxpaWvjeD0X88SAOeasd8chSs.ttf) format('truetype');
}
body header {
  background-color: #468189;
}
body header h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 40px;
  text-align: center;
}
body header img {
  height: 175px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: -5px 5px 11px -2px #000000;
  display: block;
}
body div {
  margin-left: 20px;
  font-family: 'Source Serif Pro', serif;
}
body div h2 {
  border-bottom: 2px solid black;
  font-size: 25px;
}
body div ul {
  font-size: 20px;
}
body footer {
  background-color: #468189;
  font-family: 'Source Serif Pro', serif;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}
body footer a {
  color: white;
}
