@media (min-width: 63em){
    html main {
        padding-left: 20%;
        padding-right: 20%;
    }
    body nav .navigation li a {
        font-size: 1.25em;
    }
    body nav .navigation {
        padding: 0 20% 0 20%;
    }



    body main .towninformation{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem;
    }
    body main .towninformation section{
        grid-template-columns: auto;
        
    }
    body main .towninformation section img {
        width: 100%;
        margin: 0px;
    }
    body main .towninformation section div {
        width: 100%;
    }
    body main .towninformation section:nth-child(2) img{
        width: 100%;
        margin: 0px;
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 2;
        grid-row-end:3;
    }
    body main .towninformation section:nth-child(2) div{
        width: 100%;
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end:2;
    }



    main .gallery .gallerycard:hover{
        box-shadow: 5px 5px 15px 5px #000000;
    }
    body main .gallery {
        grid-template-columns: auto auto auto;
    
    }
    main .gallery .gallerycard {
        width: 100%;
    }
    .gallercard img {
        width: 300px;
    }
    .gallerycard .gallerytext {
        display: block;
    }
    html body main .article img {
        max-width: 20%;
        height: auto;
        width: auto;
      }
}