@media (min-width: 63em){
    html main {
        padding-left: 20%;
        padding-right: 20%;
    }
    body nav .navigation li a {
        font-size: 1.25em;
    }
    body nav .navigation {
        padding: 0 20% 0 20%;
    }
    body main .article {
        display: flex;
    }
    body main .article img {
        width: 30%;
        float: right;
    }
    main .gallery .gallerycard:hover{
        box-shadow: 5px 5px 15px 5px #000000;
    }
    body main .gallery {
        grid-template-columns: auto auto auto;
    
    }
    main .gallery .gallerycard {
        width: 100%;
    }
    .gallercard img {
        width: 300px;
    }
    .gallerycard .gallerytext {
        display: block;
    }
}