@media (min-width: 63em){
    body nav .navigation li a {
        font-size: 1.25em;
    }
    body nav .navigation {
        padding: 0 20% 0 20%;
    }
    body main .article {
        display: flex;
    }
    body main .article img {
        width: 30%;
        float: right;
    }
}