@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v10/HTxqL289NzCGg4MzN6KJ7eW6OYs.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v18/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkW-EL7E.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFF8F0;
}
#announcement {
  background-color: #FF8811;
  color: black;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1em;
  padding: 0 10% 0 10%;
  text-align: center;
  display: block;
}
header {
  background-color: #30323D;
  display: flex;
  align-items: center;
}
header .headertext {
  margin-top: 0;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
header .headertext h1 {
  color: #FFFFFF;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1em;
  margin: 0;
}
header .headertext p {
  font-family: 'Cabin', sans-serif;
  font-size: 0.75em;
  color: white;
  margin: 0;
}
header img {
  filter: invert(1);
  width: 3rem;
}
header #hamburger {
  font-size: 1.75em;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 0.5rem;
}
nav .navigation {
  display: none;
}
nav .responsive {
  display: block;
  list-style-type: none;
  background-color: #30323D;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0;
  text-align: center;
}
nav .responsive li {
  padding: 0.4rem;
}
nav .responsive li a {
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
}
nav .responsive li:active {
  background-color: #FFFFFF;
}
nav .responsive li:active a {
  color: #30323D;
}
nav .responsive li:hover {
  background-color: #FFFFFF;
}
nav .responsive li:hover a {
  color: #30323D;
}
main {
  font-family: 'Cabin', sans-serif;
  padding-left: 2%;
  padding-right: 2%;
}
main .heroimage img {
  width: 100%;
  margin-bottom: 1rem;
}
main .towninformation section {
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto;
  background-color: #F4D06F;
}
main .towninformation section img {
  width: 90%;
  margin: auto;
}
main .towninformation section div {
  color: #30323D;
  text-align: center;
}
main .towninformation section div h2 {
  font-size: x-large;
  margin-bottom: 0.1rem;
}
main .towninformation section div h3 {
  color: black;
  margin-top: 0.1rem;
  font-size: x-small;
}
main .fivedayforecast {
  display: none;
}
main .article img {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}
.information h3 {
  margin-bottom: 0.5rem;
}
.information h5 {
  margin: 0;
}
.gallery {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  text-align: center;
  margin-right: -3rem;
  max-width: 100%;
  margin-bottom: 1rem;
}
.gallerycard {
  margin-right: 0;
  margin-left: 0;
}
.gallerycard img {
  width: 100%;
}
.gallerytext {
  display: none;
}
form {
  display: flex;
  flex-direction: column;
  clear: both;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
form .formsection {
  margin-bottom: 1rem;
  background-color: #30323D;
  margin-bottom: 2rem;
  color: #FFFFFF;
  padding-left: 0.5rem;
}
form input:not(.radio) {
  width: 95%;
  clear: both;
  margin-bottom: 1rem;
  background-color: #565554;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
form textarea {
  resize: none;
  width: 90%;
  margin-bottom: 0.5rem;
  width: 98%;
  height: 100px;
  box-sizing: border-box;
}
.radio label input {
  width: 20px;
}
#submit {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.weathersummary #windchilldisplay {
  display: none;
}
footer {
  background-color: #30323D;
  color: #FFFFFF;
}
footer .contactinfo {
  font-family: 'Cabin', sans-serif;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .contactinfo .socialicon {
  width: 3rem;
}
footer .location {
  padding-right: 10%;
  padding-left: 10%;
}
footer .location img {
  width: 100%;
}
footer .copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
}
footer .copyright a {
  color: #FFFFFF;
}
